  html {
    font-size: 20px;
  }

body {
  font-family: "Arial", "Meiryo",sans-serif;
}

h1, p,.futomozi,.text-skyblue, .text-pink {
  
  text-align: center;
}

h1 {
  font-family:"Josefin Sans" ,sans-serif;
  box-shadow: 3px 3px gray;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic p{
  font-weight: bold;
}
.text-skyblue{
  color: skyblue;
}
.text-pink{
  color: rgb(255, 192, 203);
}